{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript",
        "@vue/babel-preset-jsx",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
